<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
     
   <p>Here are the available categories:</p>

   <ul>
    <% categories.forEach(category => { %>
        <li><%= category.name %></li>
    <% }); %>
</ul>
<%- include('partials/footer') %>